{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis Numérico</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
</head>
<body onload="initPage()">
    <div class="navegacion">
        <nav>
            <a onclick="showSection('enl', this)">Solución de Ecuaciones no Lineales (ENL)</a>
            <a onclick="showSection('reporte_enl', this)">Reporte ENL</a>
            <a onclick="showSection('iterativos', this)">Métodos Iterativos</a>
        </nav>
    </div>
    
    <div class="contenido">
        <!-- Solución de Ecuaciones no Lineales (ENL) -->

        <div id="enl" class="section {% if formulario_activo == "enl" or not formulario_activo %}active{% endif %}">
            <div class="contenedor">
                <div class="inputs">
                    <form method="post">
                        {% csrf_token %}
        
                        <input type="hidden" name="formulario" value="enl">
        
                        <label for="funcion">Función f(x):</label>
                        <input type="text" id="funcion" name="funcion" required>
        
                        <label for="iteraciones">Número de iteraciones:</label>
                        <input type="number" name="iteraciones" min="1" required>
        
                        <label for="metodo">Elija un método:</label>
                        <select id="metodo" name="metodo" onchange="actualizarFormularioENL()" required>
                            <option value="">-- Seleccione --</option>
                            <option value="Biseccion">Bisección</option>
                            <option value="Regla Falsa">Regla Falsa</option>
                            <option value="Punto Fijo">Punto Fijo</option>
                            <option value="Newton">Newton</option>
                            <option value="Secante">Secante</option>
                            <option value="Newton M2">Raíces Múltiples</option>
                        </select>
        
                        <label>Tipo de tolerancia:</label>
                        <div class="radio">
                            <input type="radio" id="dc" name="tipo_error" value="DC" required>
                            <label for="dc">Decimales Correctos</label>
                            <input type="radio" id="cs" name="tipo_error" value="CS">
                            <label for="cs">Cifras Significativas</label>
                        </div>
        
                        <label for="tolerancia">Ingrese valor de tolerancia:</label>
                        <input type="text" id="tolerancia" name="tolerancia" required>
        
                        <!-- Intervalo (solo para Bisección y Regla Falsa) -->
                        <div id="intervalo" class="oculto">
                            <label for="inferior">Límite inferior del intervalo:</label>
                            <input type="text" name="inferior">
        
                            <label for="superior">Límite superior del intervalo:</label>
                            <input type="text" name="superior">
                        </div>
        
                        <!-- Punto inicial (excepto Secante) -->
                        <div id="punto_inicial" class="oculto">
                            <label for="punto_inicial">Punto inicial:</label>
                            <input type="text" id="punto" name="punto_inicial">
                        </div>
        
                        <!-- Punto inicial para Secante -->
                        <div id="punto_inicial_secante" class="oculto">
                            <label for="punto_inicial_1">Punto inicial 1:</label>
                            <input type="text" name="punto_inicial_1">
        
                            <label for="punto_inicial_2">Punto inicial 2:</label>
                            <input type="text" name="punto_inicial_2">
                        </div>
        
                        <!-- g(x) para Punto Fijo -->
                        <div id="gx_input" class="oculto">
                            <label for="g">Función g(x):</label>
                            <input type="text" name="g">
                        </div>
        
                        <!-- f'(x) para Newton y Raíces Múltiples -->
                        <div id="derivada1_input" class="oculto">
                            <label for="derivada">Primera derivada f'(x):</label>
                            <input type="text" name="derivada">
                        </div>
        
                        <!-- f''(x) solo para Raíces Múltiples -->
                        <div id="derivada2_input" class="oculto">
                            <label for="segunda_derivada">Segunda derivada f''(x):</label>
                            <input type="text" name="segunda_derivada">
                        </div>
        
                        <button type="submit">Calcular Raíces</button>
                    </form>
                    
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="tabla">
                    <h1>Resultados</h1>
                    <div>
                        {{ tabla_enl|safe }}
                    </div>
                </div>
            </div>
                

            <div class="resultados">
                <div class="grafica">
                    <h1>Gráfica</h1>
                    <div>
                        {{ grafico_enl|safe }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Reporte ENL -->

        <div id="reporte_enl" class="section {% if formulario_activo == "reporte_enl" %}active{% endif %}">
            <div class="contenedor">
                <div class="inputs">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="formulario" value="reporte_enl">
        
                        <label for="funcion">Función f(x):</label>
                        <input type="text" id="funcion" name="funcion" required>
        
                        <label for="iteraciones">Número de iteraciones:</label>
                        <input type="number" name="iteraciones" min="1" required>
        
                        <label>Tipo de tolerancia:</label>
                        <div class="radio">
                            <input type="radio" id="dc" name="tipo_error" value="DC" required>
                            <label for="dc">Decimales Correctos</label>
                            <input type="radio" id="cs" name="tipo_error" value="CS">
                            <label for="cs">Cifras Significativas</label>
                        </div>
        
                        <label for="tolerancia">Ingrese valor de tolerancia:</label>
                        <input type="text" id="tolerancia" name="tolerancia" required>
        
                        <div id="intervalo" class="visible">
                            <label for="inferior">Límite inferior del intervalo:</label>
                            <input type="text" name="inferior">
        
                            <label for="superior">Límite superior del intervalo:</label>
                            <input type="text" name="superior">
                        </div>
        
                        <div id="punto_inicial_secante" class="visible">
                            <label for="punto_inicial_1">Punto inicial 1:</label>
                            <input type="text" name="punto_inicial_1">
        
                            <label for="punto_inicial_2">Punto inicial 2:</label>
                            <input type="text" name="punto_inicial_2">
                        </div>
        
                        <div id="gx_input" class="visible">
                            <label for="g">Función g(x):</label>
                            <input type="text" name="g">
                        </div>
        
                        <div id="derivada1_input" class="visible">
                            <label for="derivada">Primera derivada f'(x):</label>
                            <input type="text" name="derivada">
                        </div>
        
                        <div id="derivada2_input" class="visible">
                            <label for="segunda_derivada">Segunda derivada f''(x):</label>
                            <input type="text" name="segunda_derivada">
                        </div>
        
                        <button type="submit">Generar Reporte</button>
                    </form>
        
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                </div>

                <div class="tabla">
                    <h1>Tabla Solución</h1>
                    <div>
                        {{ tabla_reporte_enl|safe }}
                    </div>
                </div>
            </div>

            <div class="resultados">
                <h1>Reporte</h1>
                <div>
                    {{ reporte_enl|safe }}
                </div>
            </div>
        </div>

        <!-- Métodos Iterativos -->

        <div id="iterativos" class="iterativos section {% if formulario_activo == "iterativos" %}active{% endif %}">
            <div class="contenedor">
                <div class="inputs">
                    <form method="post" onsubmit="return validarFormulario()">
                        {% csrf_token %}
        
                        <input type="hidden" name="formulario" value="iterativos">
        
                        <label for="size_A">Tamaño de la matriz A:</label>
                        <input type="number" id="size_A" name="size_A" min="1" max="10" required onchange="generarMatriz()">
        
                        <div id="contenedor-matriz"></div>
        
                        <div id="contenedor-vector-b"></div>
        
                        <div id="contenedor-vector-x0"></div>
        
                        <label for="metodo_iterativo">Elija un método:</label>
                        <select id="metodo_iterativo" name="metodo_iterativo" onchange="actualizarFormularioIterativas()" required>
                            <option value="">-- Seleccione --</option>
                            <option value="jacobi">Jacobi</option>
                            <option value="seidel">Gauss-Seidel</option>
                            <option value="sor">Relajación (SOR)</option>
                        </select>
        
                        <div id="peso_w_input" class="oculto">
                            <label for="peso_w">Peso w:</label>
                            <input type="number" step="any" name="peso_w">
                        </div>
        
                        <label>Tipo de tolerancia:</label>
                        <div class="radio">
                            <input type="radio" id="dc" name="tipo_error" value="DC" required>
                            <label for="dc">Decimales Correctos</label>
                            <input type="radio" id="cs1" name="tipo_error" value="CS1">
                            <label for="cs1">Cifras Significativas con División Punto</label>
                            <input type="radio" id="cs2" name="tipo_error" value="CS2">
                            <label for="cs2">Cifras Significativas con División por la Norma</label>
                        </div>

                        <label for="tolerancia">Ingrese valor de tolerancia:</label>
                        <input type="text" id="tolerancia" name="tolerancia" required>
        
                        <label for="iteraciones">Número de iteraciones:</label>
                        <input type="number" name="iteraciones" min="1" required>
        
        
                        <button type="submit">Calcular Solución</button>
                    </form>
        
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                </div>

                <div class="tabla">
                    <h1>Solución del Método</h1>
                    <div>
                        {{ tabla_iterativos|safe }}
                    </div>
                </div>
            </div>

            <div class="resultados">
                <h1>Comparación con Otros Métodos</h1>
                <div class="tabla">
                    <p>A continuación se presenta una tabla de comparación entre los tres métodos. Para el método SOR se hicieron iteraciones adicionales con pesos aleatorios.</p>
                    {{ reporte_iterativos|safe }}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/inicio.js' %}"></script>
</html>